/* .roupas_postadas {

    /* Botar uma borda na postagem */
  /*  border-style: solid;
    border-width: 2px;
    border-color: darkgray;
    border-radius: 5px;

    /* Espaçamento esterno */
 /*   margin: 75px 75px 75px 75px;

    /*Espaçamento interno */
  /*  padding: 10px; 

    justify-content: space-between; /* Alinhamento horizontal */
  /*  align-items: center; /*Alinhamento vertical */

/*} 
